@model IEnumerable<EURIS.Entities.Catalog>

@{
    ViewBag.Title = "Catalog";
}


<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CatalogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Product
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CatalogId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CatalogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CatalogId })
            </td>
            <td>@item.CatalogId</td>
            <td>@item.Code</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("View Products", "ViewProducts", new { id = item.CatalogId})</td>
        </tr>
    }

</table>